<!DOCTYPE html>
<html>
<head>
    <link href='css/bootstrap.css' rel='stylesheet' type='text/css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <title>Restaurants</title>
</head>
<body>
    <div class='container'>
        {% block header %}
            <h2>Welcome to Restaurants</h2>
        {% endblock %}

        {% block page %}
        {% endblock %}

        {% block footer %}
            <footer>Created by <a href="https://github.com/maggie-harrington">Maggie Harrington</a> and <a href="https://github.com/bseaver">Benjamin T. Seaver</a></footer>
        {% endblock %}
    </div>
</body>
</html>
 
